<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <style>
        .watermark {
            position: fixed;
            top: 30%;
            left: 25%;
            width: 50%;
            text-align: center;
            opacity: 0.5;
            font-size: 50px;
            transform: rotate(-45deg);
            transform-origin: 50% 50%;
            z-index: 1000;
        }
    </style>
    <title>Zéro Logement Vacant</title>
  </head>
  <body>
    <div class="watermark">Prévisualisation</div>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <header>
      <section class="header__sender">
        <p>{{sender.name}}</p>
        <p>{{sender.service}}</p>
        <p>{{sender.firstName}} {{sender.lastName}}</p>
        <p>{{sender.address}}</p>
        <p>{{sender.email}}</p>
        <p>{{sender.phone}}</p>
      </section>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
